.expItem {
    justify-content: space-between;
    width: 70%;
    margin: $center;
    padding: 0 0 80px 0;
}

.expTitle {
    height: auto;
    width: 20%;
    text-align: center;
    h4 {
        font-size: 1.8em;
        line-height: 1em;
    }
    p {
        font: {
            size: 1.4em;
            line-height: 1em;
            family: "Poppins", sans-serif;
        }
    }
    flex-grow: 1.5;
}

.expDesc {
    flex-grow: 2;
    width: 40%;
    text-align: left;
}

.expUnderLine {
    height: 2px;
    background-color: #888;
    width: 8%;
    margin: 10px 0 15px 0;
}
