* {
    margin: 0;
    padding: 0;
    font: {
        size: 12px;
        weight: normal;
    }
    text-decoration: none;
    list-style: none;
}
html{
    width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    
}
body {
    height: 100%;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    * {
        font: {
            size: 10px;
            weight: normal;
        }
    }
}
